/* Основные стили для The Fifth Estate */
@import './fonts.css';
@import './top-panel.css';
@import './left-panel.css';
@import './staff.css';
@import './news.css';
@import './newspaper.css';
@import './modals.css';
@import './scrollbars.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}


html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5dc;
  color: #333;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}